html{
    border:solid;
    border-color: orange;
    border-style: double;
    border-radius: 10px;
    border-width: 16px;
}

body{
    background-color:blanchedalmond
    


    
}

h1{
    text-align: center;
    border-radius: 10px;
    border-style: double;
    border-color: orange;
    border-width: 12px;
    color:darkslategrey ;
    font-weight: bold;
    font-size: 48px;
    }

h2{
    font-size: 28px;
    font-weight: bold;
    color:darkslategrey ;

}


    ul, ol{
    text-align:left    
    
}

